tr.group::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #dc2626; /* rojo-600 */
  transition: width 0.3s ease;
}
tr.group:hover::after {
  width: 100%;
}
